@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
     margin: 0;
     font-family: "Roboto", sans-serif !important;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     color: #000;
}

code {
     font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
          monospace;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

a {
     text-decoration: none;
}

.page {
     width: 100%;
     /* background-color: white; */
     /* padding: 15px; */
     /* border-radius: 6px; */
}
.error-text {
     color: #ed4337;
}
.blue-text {
     color: #00afff !important;
}
